#wpcontent {
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.stat-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.stat-card {
    flex: 1;
    min-width: calc(16.666% - 20px);
    /* Adjusted for 6 boxes in a row */
    background-color: #363b3f;
    /* Dark gray background */
    color: #fff;
    /* White text */
    border-radius: 4px;
}

.stat-card .hndle {
    text-transform: uppercase;
    padding: 0 !important;
    color: #fff;
    /* White text color */
}

.stat-card .number {
    float: right;
    padding: 0 15px 15px 0;
}

.stat-card .inside {
    /* padding: 10px; */
}

.toolbar-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.search-box,
.filter-panel,
.sort-panel {
    flex-grow: 1;
    flex-basis: calc(25% - 20px);
    /* Adjust the percentage as needed */
}

.action-download {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: calc(25% - 20px);
    /* Adjust the percentage as needed */
}

/* Add this to your CSS file */
.tnc-icon-circle {
    margin-top: -10px;
    vertical-align: middle;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    margin-left: 8px;
}

.tnc-icon-green {
    background-color: green;
}

.tnc-icon-red {
    background-color: red;
}

/* Add this to your CSS file */
.header-actions {
    margin-left: 20px;
}

.header-actions .spinner {
    visibility: hidden;
    margin: 0;
    float: left;
    background-position: -20px 0;
}

/* Aligns the header actions with the title */
.header-actions {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    line-height: 28px;
    /* Adjust this line height to align with your title */
}

.header-actions .button {
    margin-top: 10px;
}

.header-actions .spinner {
    visibility: hidden;
    margin: 0;
    vertical-align: middle;
}

.table-header-button {
    margin-right: 15px !important;
}

.dt-button {
    background-color: #0073aa;
    /* Primary color */
    color: white;
    border-color: #0073aa;
    /* Add other styling as needed */
}

.notice {
    position: relative;
    padding: 10px 35px 10px 10px;
    margin: 10px 0px 0px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: transparent;
}

.notice-success {
    border-color: #46b450 !important;
    background-color: #d7f3e3;
}

.notice-error {
    border-color: #dc3232 !important;
    background-color: #f3d7d7;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
}

@keyframes fadeEffect {
    from {
        background: #0073aa;
        /* Adjust to match your primary theme color */
    }

    to {
        background: transparent;
    }
}

#dataTable tbody tr.new-row {
    animation: fadeEffect 1s ease-out;
}

th {
    text-align: left;
}

.submenu {
    display: flex;
    /* Enable Flexbox */
    flex-direction: row;
    /* Arrange children in a row */
    align-items: center;
    /* Align items vertically in the center */
    justify-content: space-around;
    /* Distribute space around items */
}

.submenu-item {
    margin: 0 10px;
    /* Add horizontal margin for spacing */
    /* Other styles as needed */
}

@media (max-width: 768px) {
    .stat-card {
        min-width: calc(50% - 20px);
        /* 2 boxes in smaller screens */
    }

    .submenu {
        flex-direction: column;
    }
}

.business-info-section .form-table th,
.business-info-section .form-table td {
    padding: 20px 10px;
}

.business-info-section .form-table th {
    width: 200px;
    /* Adjust width as needed for label column */
    font-weight: bold;
}

.business-info-section .form-table input[type='text'],
.business-info-section .form-table textarea {
    width: 100%;
    max-width: 650px;
    /* Set a max-width for larger screens */
}

.business-info-section .form-table textarea {
    height: 150px;
    /* Set a fixed height for textareas */
}

.business-info-section .form-table .button {
    margin-top: 5px;
}

.business-info-section .wp-media-buttons {
    margin-bottom: 5px;
}

.business-info-section .form-table .description {
    display: block;
    margin-top: 5px;
    color: #666;
}

.tab-link {
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    cursor: pointer;
}
.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
}
.tab-link.active, .tab-content.active {
    background-color: #f9f9f9;
}

#datepicker {
    font-size: 16px;
    width: auto;
    margin-top: 20px;
}
.ui-datepicker {
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
}