
.singUpContainer form input::placeholder {
    color: black !important;
}
.singUpContainer .form-check-sign::before{
    width: 20px !important;
    height: 20px !important;
    border: 1px solid gray !important;
    border-radius: 6px !important;
}
.singUpContainer .form-check-sign::after{
    left: -3px !important;
}
.singUpContainer .form-check-label {
    line-height: 19px !important;
}

.signupIcon i, .footerIcon i {
    font-size: 24px;
  }
.signupIcon a:hover, .footerIcon a:hover {
    text-decoration: none !important;
  }


/* Home Page  */

.firstHomeContainer .row{
    padding-top: 300px;
}
.firstHomeContainer .videoPlay{
    width: 500px;
}
.homePageSlider img {
    width: 100%;
}
.homePageSlider .slick-dots {
    position: relative;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.homePageSlider .slick-dots::before, 
.homePageSlider .slick-dots::after {
    content: '';
    position: absolute;
    left: 50%;
    right: 0;
    height: 1px;
    width: 300px;
    background-color: #333;
    transform:translate(-50%);
}
.homePageSlider .slick-dots::before {
    top: 0px;
}
.homePageSlider .slick-dots::after {
    bottom: 0px;
}
.featuredSection .featuredImage img{
    width:100%;
    height: 600px;
}
.loveWithAndWithOut {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 250px !important;
}
.featuredSpeakerSection{
    background:#3a414a;
}
.cardContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 150px;
  }
  .cardContainer .cardBox img {
    width: 100%;
  }
  .cardContainer .cardBox {
    margin-left: 14px;
    flex-basis: 17%;
  }
  .cardContainer .cardBox h6 {
    font-size: 11px;
  }
  .featuredSpeakerImage {
    height: 100%;
    position: relative;
  }
  .featuredSpeakerImage .featuredContent {
    position: absolute;
    bottom: 0;
  }

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* MODAL */
.modal-background-image {
    position: relative; /* Ensure this is set to make the ::before positioned relative to this element */
    /* Other styles as needed */
    background: #000000;
    z-index: -1; /* Adjust as necessary to ensure correct stacking */

}

.modal-background-image::before {
    content: ""; /* Required for the pseudo-element to show */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.70); /* Semi-transparent black background */
    z-index: 0; /* Adjust as necessary to ensure correct stacking */
}

.modal-content-area {
    z-index: 1; /* Adjust as necessary to ensure correct stacking */
}

.marquee-container {
    overflow: hidden;
}

.marquee {
    display: flex;
    animation: scrollMarquee 20s linear infinite;
}


@keyframes scrollMarquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
.height-100vh {
    min-height: 100vh;
}

.padding-common {
    padding-inline: 60px !important;
}
.padding-10{
    padding-inline: 10px !important;
}
.marginTop{
    margin-top: 80px;
}

@media (min-width:991px){
    .marginRight {
        margin-right: 200px !important;
      }

}

@media (max-width:991px) {
    .signupCol {
        margin-inline:auto;
    }
    .padding-common {
        padding-inline: 30px !important;
    }
    .padding-10{
        padding-inline: 10px !important;
    }
}
@media(min-width: 1200px){
    .container{
        max-width: 1920px;
    }
}

@media(max-width: 768px){
    .firstHomeContainer .row{
        padding-top: 100px;
    }
    .firstHomeContainer .videoPlay{
        width: 100%;
    }
    .featuredSection .featuredImage img{
        width:100%;
        height: 100%;
    }
    .featuredSpeakerImage {
        height: 400px;
        position: relative;
    }
    .loveWithAndWithOut {
        padding-block: 100px !important;
    }
    .cardContainer {
        margin-top: 60px;
        justify-content: center;
    }
    .cardContainer .cardBox {
        margin-left: 14px;
        flex-basis: calc(25% - 14px);
    }
}